@import "tailwindcss";

@theme {
  --color-primary: #5d4037;
  --color-secondary: #8d6e63;
  --color-background: #f4ebd0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  background-color: #ffeb3b;
  color: #d84315;
  padding: 0 4px;
  border-radius: 4px;
}
